ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
CODE_SIGN_ENTITLEMENTS = Resources/Undertow/Undertow.entitlements
CODE_SIGN_STYLE = Automatic
CURRENT_PROJECT_VERSION = 1
DEVELOPMENT_ASSET_PATHS = "Resources/Undertow/Preview Content"
ENABLE_PREVIEWS = YES
GENERATE_INFOPLIST_FILE = YES
MACOSX_DEPLOYMENT_TARGET = 15.0
MARKETING_VERSION = 1.0
PRODUCT_BUNDLE_IDENTIFIER = dev.21.Undertow
PRODUCT_NAME = $(TARGET_NAME)
SDKROOT = macosx
SWIFT_EMIT_LOC_STRINGS = YES
SWIFT_VERSION = 6.0
